@import '../../Assets/Styles/Colors.scss';
@import '../../Assets/Styles/Breakpoints.scss';

.bannerText {
  margin: 80px 232px 249px 0;
  font-family: Teko;
  font-size: 400px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: var(--black);
}

.homeContainer {
  width: 100%;
  height: auto;
  background-color: $white;
  overflow: hidden;
}

.bannerContainer {
  margin: 20px 20px 60px 20px;
  padding: 28px 100px 80px;
  min-height: 100%;
  width: calc(100% - 40px);
}

.bannerAction {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mobileAction {
  display: none;
}

@media (max-width: $phone) {
  .bannerText{
    font-size: 170px;
    margin: 80px 20px 20px 20px;
  }

  .mobileAction {
    display: flex;
    flex-direction: column;
    padding: 20px 10% 0px 10%;
  }

  .bannerContainer {
    height: 320px;
    padding: 0px;
    margin: 0px;
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  .bannerAction {
    display: none;
  }
}

