@import '../../Assets/Styles/Colors.scss';

@mixin button {
  height: 50px;
  padding: 10px 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  span {
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: $white;
  }

  &:hover {
    opacity: 0.8;
  }
}

.button[data-variant="black"] {
  @include button;

  background-color: $black;
}

.button[data-variant="blue"] {
  @include button;

  background-color: $blue;
}