@import '../../Assets/Styles/Colors.scss';
@import '../../Assets/Styles/Breakpoints.scss';

@mixin menuContainer {
  flex-direction: column;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  z-index: 97;
  transition: all 500ms ease-in-out;
}

@mixin menuItem {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
  font-family: Teko;
  font-size: 110px;
  line-height: 110px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  text-decoration: none;
  color: $white;
  padding-top: 15px;
  margin: 0px;
  border-bottom-width: 1px;
  border-bottom-color: $cloud;
  border-bottom-style: solid;
  transition: all 500ms ease-in-out;
}

@mixin triangle {
  content: " ";
  position: relative;
  right: 40px;
  top: 50%;
  margin-top: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 25px;
  border-color: transparent transparent transparent $white;
}

@mixin subMenu {
  position: fixed;
  left: 10%;
  z-index: 99;
  background-color: $black;

  a {
    display: flex;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-decoration: none;
    color: $white;

    &:hover {
      color: $warmGrey;
    }
  }

  a[data-selected=true] {
    margin-left: 5px;

    &:before {
      @include triangle;
      
      right: 5px;
      top: 0;
      margin-top: 2px;
      border-width: 5px 0 5px 10px;
      border-color: transparent transparent transparent $white;
    }
  }
}

@keyframes loop {
  0%    { right: 40px; }
  50%   { right: 5px; }
  100%  { right: 40px; }
}

.menuContainer[data-opacity=false] {
  @include menuContainer;
}

.menuContainer[data-opacity=true] {
  @include menuContainer;

  opacity: 1;
  padding: 0px 10%;
  overflow-y: scroll;
}

.menuContainer[data-display=true] {
  display: flex;
}

.menuContainer[data-display=false] {
  display: none;
}

.menuList {
  margin-top: 147px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 80px;
}

.menuItem[data-display=true] {
  @include menuItem;

  &:hover {
    &:before {
      @include triangle;
      
      margin-top: -20px;
      border-width: 10px 0 10px 15px;
      border-color: transparent transparent transparent $warmGrey;
      animation: loop 1s infinite ease-in-out;
    }
    color: $warmGrey;
  }

  margin-right: 0%;
  opacity: 1;
}

.menuItem[data-display=false] {
  @include menuItem;

  margin-right: -10%;
  opacity: 0;
}

.menuItem[data-selected=true] {
  &:before {
    @include triangle;
  }

  &:hover {
    &:before {
      @include triangle;

      animation: loop 1s infinite ease-in-out;
    } 
  }
}

.topShadow {
  width: 100%;
  height: 200px;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 98;
  background: rgb(14,14,14);
  background: linear-gradient(to bottom, #0e0e0e 0%, #0e0e0e00 100%);
}

.bottomShadow {
  width: 100%;
  height: 200px;
  position: fixed;
  pointer-events: none;
  bottom: 0;
  left: 0;
  z-index: 98;
  background: rgb(14,14,14);
  background: linear-gradient(to top, #0e0e0e 0%, #0e0e0e00 100%);
}

.regionSelect {
  @include subMenu;
  top: 98px;
}

.socialList {
  @include subMenu;
  bottom: 51px;
}

@media (max-width: $phone) {

  .menuContainer[data-opacity=true] {
    padding: 0px 5%;
  }

  .menuItem[data-display=false]{
    font-size: 50px;
    line-height: 50px;
  }


  .menuItem[data-display=true] {
    font-size: 50px;
    line-height: 50px;
    margin-right: 0px;
    opacity: 1;

    &:hover {
      &:before {
        @include triangle;
        
        margin-top: -15px;
        border-width: 10px 0 10px 15px;
        border-color: transparent transparent transparent $warmGrey;
        animation: loop 1s infinite ease-in-out;
      }

      color: $warmGrey;
    }
  }

  .menuItem[data-selected=true] {
    &:before {
      @include triangle;

      margin-top: -15px;
      border-width: 10px 0 10px 15px;
    }
  
    &:hover {
      &:before {
        @include triangle;
        
        margin-top: -15px;
        border-width: 10px 0 10px 15px;
        animation: loop 1s infinite ease-in-out;
      } 
    }
  }


  .regionSelect, .socialList {
    display: none;
  }
}