@import '../../Assets/Styles/Colors.scss';
@import '../../Assets/Styles/Breakpoints.scss';

@mixin logosContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  margin-top: 82px;
}

@mixin clientText {
  width: 560px;
  height: 81px;
  font-family: Arial;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.59;
  letter-spacing: normal;
  text-align: center;
  color: $black;
}

.clientsContainer {
  background-color: $cloud;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 10% 100px 10%;
  width: 100%;
  overflow: hidden;
}

.clientsHeader {
  font-family: Teko;
  font-size: 60px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: $black;
  margin: 0;
}

.clientsText {
  @include clientText
}

.logosContainer {
  @include logosContainer;
}

.logos {
  filter: sepia(100%) saturate(0) brightness(97%);
}

.logosBox {
  height: 126px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: $phone) {
  .clientsContainer {
    padding: 80px 5% 100px 5%;
  }

  .logosContainer {
    @include logosContainer;

    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  .clientsText {
    @include clientText;

    width: 335px;
  }

  .logos {
    filter: sepia(100%) saturate(0) brightness(97%);
    width: 80%;
    height: auto;
  }
}