@import '../../Assets/Styles/Colors.scss';
@import '../../Assets/Styles/Breakpoints.scss';

@mixin triangle {
  content: " ";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right: 0;
  border-left: 7px solid $blue;
  margin-right: 10px;
  margin-top: -2px;
}

@keyframes flip {
  0%  { transform: translateX(0px);}
  50%  { transform: translateX(-10px);}
  100%  { transform: translateX(0px);}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.projectListContainer {
  margin: 60px 10% 81px 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 81px;
  column-gap: 30px;
}

.projectListItem {
  transition: all 300ms ease-in-out;

  span {
    display: block;
    text-transform: uppercase;
    margin-top: 18px;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: normal;
    color: $warmGreyTwo;
  }

  h4 {
    margin: 12px 0px 0px 0px;
    font-family: Teko;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    font-size: 32px;
    letter-spacing: normal;
    color: $secondaryBlack;
  }

  a {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 14px 0px 0px 0px;
    text-decoration: none;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    color: $blue;
    
    &:hover {
      .triangle {
        animation: flip 1s infinite ease-in-out;
      }
    }
  }
  .triangle {
    @include triangle;    
  }
}

.projectListImage {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.loadingContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 101;
}

.loading {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $grey;
  height: 48px;
  border-radius: 25px;
  padding: 5px 25px;
  box-shadow: 0px 0px 10px $black;

  span {
    font-family: Teko;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 3px;
    color: $white;
  }

  .loader {
    border: 3px solid $warmGrey; 
    border-top: 3px solid #78f069;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
    margin-right: 15px;
  }
}

.loadingContainer[data-show=false] {
  top: -60px;
}

.loadMoreContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

@media (max-width: $phone) {
  .projectListContainer {
    margin: 30px 5% 39px 5%;
    grid-template-columns: 1fr;
    row-gap: 49px;
  }

  .projectListImage {
    height: 286px;
  }

  .loadingContainer {
    top: 80px;
  }
}