@import '../../Assets/Styles/Colors.scss';
@import '../../Assets/Styles/Breakpoints.scss';

.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 10%;
}

.filterLabel {
  font-family: Teko;
  font-size: 30px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: $greyTwo;
}

.filterItem {
  margin-left: 25px;

  select {
    display: none;
  }
}

.filterSelect {
  display: inline-flex;
  align-items: center;
  position: relative;

  border-width: 0px 0px 1px 0px;
  border-color: $black;
  border-style: solid;

  font-family: Teko;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: $black;
  cursor: pointer;

  .selectOptions {
    position: absolute;
    top: 32px;
    transition: all 300ms ease-in-out;
    background-color: $white;
    z-index: 50;

    div {
      padding: 5px 15px;
      cursor: pointer;

      &:hover {
        color: $warmGrey;
      }
    }
  }

  .selectOptions[data-show=false] {
    display: none;
  }
}

.arrow {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom: 0;
  border-top: 7px solid $black;
  margin-left: 10px;

  transition: all 300ms ease-in-out;
}

.arrow[data-show=true] {
  transform: rotate(180deg);
}

@media (max-width: $phone) {
  .filterContainer {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 5%;
    margin-top: 30px;
  }

  .filterItem {
    margin-left: 0px;
    margin-bottom: 20px;
  }
}
