@import '../../Assets/Styles/Colors.scss';
@import '../../Assets/Styles/Breakpoints.scss';

@mixin contactForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  column-gap: 78px;
  flex: 1
}

@mixin contactContainer {
  display: flex;
  flex-direction: row;
  padding: 80px 10%;
}

@mixin contactHeader {
  font-family: Teko;
  width: 300px;
  font-size: 60px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: $black;
  margin: 0;
  margin-right: 50px;
}

.contactForm {
  @include contactForm;
}

.contactContainer {
  @include contactContainer;
}

.contactHeader {
  @include contactHeader;
}

.formInput {
  display: flex;
  flex-direction: column;

  span {
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: $secondaryBlack;
    margin: 0;
  }

  span[data-error=true] {
    color: red;
    font-size: 10px;
  }

  input, textarea {
    &:focus {
      border-width: 0px 0px 1px 0px;
      border-color: $blue;
      border-style: solid;
    }

    width: 300px;
    height: 32px;
    border-width: 0px 0px 1px 0px;
    border-color: $whiteThree;
    border-style: solid;
  }

  textarea {
    height: 78px;
    margin-bottom: 30px;
  }

  input[data-error=true], textarea[data-error=true] {
    border-color: red;
    margin-bottom: 0px;
  }
}

@media (max-width: $tablet) {
  .contactForm {
    @include contactForm;
    
    margin-top: 28px;
    grid-template-columns: 1fr;
  }

  .contactContainer {
    @include contactContainer;

    flex-direction: column;
    padding: 40px 10%;
  }

  .contactHeader {
    @include contactHeader;
    
    font-size: 30px;
  }
}

@media (max-width: $phone) {
  .contactContainer {
    padding: 80px 5%;
  }
}