@import '../../Assets/Styles/Colors.scss';
@import '../../Assets/Styles/Breakpoints.scss';

@mixin logo {
  height: 28px;
  width: 100px;
}

@mixin menuIconBar {
  height: 3px;
  width: 20px;
  background-color: $black;
}

@mixin menuIcon {
  height: 10px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 300ms ease-in-out;
}

.headerContainer {
  position: fixed;
  top: 0px;
  padding: 48px 10% 0px 10%;
  width: 100%;
  z-index: 100;
  transition: all 300ms ease-in-out;
  transform-origin: top center;
}

.headerContainer[data-scroll=true][data-show=false] {
  padding: 25px 10% 0px 10%;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 10px $warmGrey;

  .headerLine {
    border-width: 0px;
  }

  .menuIconContainer {
    margin-bottom: -15px;
  }
}

.headerLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: $black;
  padding-bottom: 24px;
  transition: all 300ms ease-in-out;
}

.headerLine[data-show=true] {
  border-width: 0px 0px 0px 0px;
}

.logo {
  @include logo
}

.logo[data-show=true]{
  @include logo;

  filter: invert(1);
}

.menuIconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  margin-bottom: -28px;
  cursor: pointer;
}

.menuIcon[data-show=true] {
  @include menuIcon;
  height: 20px;

  .menuIconBarTop{
    @include menuIconBar;

    transition: all 300ms ease-in-out;
  
    background-color: $white;
    transform-origin: center center;
    transform: rotate(45deg) translateY(12px);
  }

  .menuIconBarBottom{
    @include menuIconBar;

    transition: all 300ms ease-in-out;
  
    background-color: $white;
    transform-origin: center center;
    transform: rotate(-45deg) translateY(-12px);
  }
}

.menuIcon[data-show=false] {
  @include menuIcon;

  .menuIconBarTop, .menuIconBarBottom{
    @include menuIconBar;

    transition: all 300ms ease-in-out;
  }
}

.menuText[data-show=false] {
  margin-right: 26px;
  margin-top: 2px;
  font-family: Teko;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: $black;
}

.menuText[data-show=true] {
  opacity: 0;
}

@media (max-width: $phone) {

  .headerContainer {
    top: 0;
    height: 50px;
    padding: 0px 5%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .headerContainer[data-show=true] {
    background-color: transparent;
  }

  .headerLine {
    border-width: 0px;
    align-items: center;
    padding-bottom: 0px;
  }

  .menuIconContainer {
    margin-bottom: 0px;
  }

  .menuIcon[data-show=true] {
    @include menuIcon;
    height: 20px;
    margin-right: 0px;
  }

  .logo {
    @include logo;

    height: 14px;
    width: 50px;
  }

  .logo[data-show=true]{
    @include logo;

    height: 14px;
    width: 50px;
    filter: invert(1);
  }
}