@import '../../Assets/Styles/Colors.scss';
@import '../../Assets/Styles/Breakpoints.scss';

@mixin footerLinks {
  a {
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $warmGrey;
    text-decoration: none;

    &:visited {
      color: $warmGrey;
      text-decoration: none;
    }

    &:hover {
      color: $warmGrey;
      text-decoration: none;
    }
  }
}

@mixin actionListItem {
  margin-left: 26px;
  font-family: Teko;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: #fff;
  text-decoration: none;
}

@mixin footerBorder {
  padding-bottom: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom-width: 2px;
  border-bottom-color: $grey;
  border-bottom-style: solid;
}

@keyframes move {
  0%  { transform: translateY(0px); }
  50%  { transform: translateY(-10px); }
  0%  { transform: translateY(0px); }
}

.logoWhite {
  filter: invert(1);
  height: 27px;
  width: 100px;
  margin-bottom: 16px;
}

.footer {
  display: flex;
  flex-direction: row;
}

.footerContent {
  background-color: $black;
  width: 100%;
  padding: 10%;
}

.footerBorder {
  @include footerBorder;
}

.footerLinks {
  @include footerLinks;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 56px;
}

.actionListItem {
  @include actionListItem;
}

.socialIcon {
  margin-left: 26px;
  height: 13px;
  width: 13px;
  filter: invert(1);
}

.scrollToTopContainer {
  width: 10%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  span {
  margin-top: 5px;
  margin-left: 3px;
  font-family: Teko;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 32px;
  letter-spacing: normal;
  color: $blue;
  text-decoration: none;
  }

  &:hover {
    svg {
      animation: move 1s infinite ease-in-out;
    }
  }
}

@media (max-width: $phone) {
  .scrollToTopContainer, .logoWhite {
    display: none;
  }

  .footerLinks {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
  }

  .actionList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .actionListItem {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .footerBorder {
    align-items: flex-start;
  }

  .socialIcon {
    margin-bottom: 26px;
    height: 24px;
    width: 24px;
    filter: invert(1);
  }

  .footerContent {
    padding: 5%;
  }
}