body, html {
  width: 100%;
  margin:0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Teko';
  font-weight: 300;
  src: local('Teko'), url(./Assets/Fonts/Teko-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Teko';
  font-weight: 400;
  src: local('Teko'), url(./Assets/Fonts/Teko-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Teko';
  font-weight: 500;
  src: local('Teko'), url(./Assets/Fonts/Teko-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Teko';
  font-weight: 600;
  src: local('Teko'), url(./Assets/Fonts/Teko-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Teko';
  font-weight: 600;
  src: local('Teko'), url(./Assets/Fonts/Teko-Bold.ttf) format('truetype');
}