$black: #0e0e0e;
$secondaryBlack: #272727;
$blue: #1a18f7;
$grey: #3e3e3e;
$greyTwo: #a3a3a3;
$warmGrey: #808080;
$warmGreyTwo: #939393;
$cloud: #f3f6f6;
$tintGrey: #D8D8D8;
$white: #ffffff;
$whiteThree: #dddddd;